@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-Inter: "Inter", sans-serif;
}

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  body {
    @apply text-white font-mono;
  }
}
@layer components {
  .header {
    @apply flex justify-between items-center px-2 py-2.5 shadow-2xl mb-5;
  }
  .nav-menu {
    @apply flex items-center gap-x-2 text-xl font-bold;
  }
  .logo {
    @apply size-[55px];
  }
  .project-link {
    @apply py-1 px-2 bg-amber-500 rounded text-black font-bold;
  }
  .travel-card {
    @apply flex w-[90%]  gap-x-2 min-h-[280px] mx-auto mt-5 text-[#2B283A];
  }
  .travel-img-container {
    @apply max-w-[200px]   flex-center;
    img {
      @apply w-full  h-full rounded-md object-cover;
    }
  }
  .travel-content {
    @apply mt-6;

    .travel-content-header {
      @apply flex items-center gap-x-1 mb-3;

      img {
        @apply size-[15px] object-contain;
      }
      span {
        @apply font-Inter font-normal tracking-wider;
      }
      a {
        @apply underline ml-3.5 text-[#918E9B] font-Inter font-normal;
      }
    }
    h1 {
      @apply font-Inter font-bold text-3xl pb-8;
    }
    p:first-of-type {
      @apply font-bold font-Inter mb-2;
    }
    p:last-of-type {
      @apply font-Inter text-lg;
    }
  }
  .chef-header {
    box-shadow:
      0px 1px 3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  }
  .suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
  }

  .suggested-recipe-container ul li,
  .suggested-recipe-container ol li {
    margin-bottom: 8px;
  }
}
@utility flex-center {
  @apply flex justify-center items-center;
}
